$blue: '#34495e';
$grey: '#ecf0f1';

#one {background-color: #34495e;}
#one h1 {color: #ecf0f1;}
#two {background-color: #ecf0f1;}
p {color:#34495e; }
h2,h3 {color:#34495e; }
a {text-decoration: none}
body {background-color: #ecf0f1;}
#three {border-top-color: $blue;}
#five {border-bottom-color: $blue;}
