.mac:hover {
transform: translate(0px, -6px);
-webkit-transform: translate(0px, -6px);
-moz-transform: translate(0px, -6px);
-o-transform: translate(0px, -6px);
-ms-transform: translate(0px, -6px);
}
